In [1]:
#Ans1. code is down below

In [4]:
marks = float(input("enter your marks-"))
if marks > 90:
    print("grade = A")
elif marks > 80 and marks <=90:
    print("grade = B")
elif marks >= 60 and marks <= 80:
    print("grade = C")
elif marks < 60:
    print("grade = D")

enter your marks- 90.5

grade = A

In [3]:
# Ans 2. below

In [6]:
Cost_Price = float(input("Cost price of Bike = "))
if Cost_Price > 100000:
    print("tax to be paid is 15%")
elif Cost_Price > 50000 and Cost_Price <= 100000:
    print("tax to be paid is 10%")
elif Cost_Price <= 50000:
    print("tax to be paid is 5%")

Cost price of Bike =  1250000

tax to be paid is 15%

In [7]:
# Ans 3. below

In [2]:
City = input("Name of the City")
if City == "Delhi":
    print("Monument - Red Fort")
elif City == "Agra":
    print("Monument - Taj Mahal")
elif City == "Jaipur":
    print("Monument - Jal Mahal")
else : print ("Nothing to show")

Name of the City Delhi

Monument - Red Fort

In [3]:
# Ans 4. below

In [8]:
def divide_by_3(num):
    count = 0
    while num > 10:
        num = num/3
        count = count + 1
    return count

num = int(input("enter number"))
result = divide_by_3(num)
print("number can be divide by 3", result, "times")

enter number 57

number can be divide by 3 2 times

In [9]:
# Ans 5. we use while loop in python to repeatedly execute a block of code till the condition given is true. once the codition gets false it stops.
# example for while loop is below

In [10]:
a = 1
while a <= 10:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [11]:
#Ans 6. nested while loop to print 3 different pattern.

In [16]:
rows = 6
for i in range(rows):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [20]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
rows = 5
num = rows
for i in range(rows, 0, -1):
    for j in range(0, i):
        print(num, end=' ')
    print("")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [17]:
#Ans7. reversing a while loop to display from 10 to 1

In [18]:
a = 10
while a >= 1:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1

In [19]:
#Ans 8. same as answer7